:root {
  --primary-color: rgb(30, 29, 37);
  --secondary-color: rgb(29, 29, 35);
}
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

html {
  font-size: 62.5%;
}

body {
  color: white;
  background-color: rgb(23, 22, 28);
  height: 1200px;
}
/*
Font-size units
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52
62 / 74 / 86 / 98

Spacing system
2 / 4 / 8 / 12 / 16 / 24 / 48 / 64 / 80 / 96 / 128
*/

.header {
  z-index: 2;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5rem;
  background-color: rgba(30, 29, 37, 1);
}

.header > div {
  margin-left: 6rem;
}

.all-content-container {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  column-gap: 10rem;
}

.aside-container {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.input-city {
  padding-left: 2rem;
  background-color: rgb(54, 53, 59);
  color: white;
  font-size: 1.6rem;
  padding: 1.2rem;
  border: none;
  border-radius: 2rem;
  width: 35rem;
}

.input-city:focus {
  border: rgb(0, 0, 0);
}
.input-city::placeholder {
  color: rgb(186, 183, 183);
}

.location-btn {
  background-color: rgb(54, 53, 59);
  color: white;
  font-size: 1.6rem;
  border-radius: 2rem;
  border: none;
  padding: 1.2rem;
  margin-right: 8rem;
  cursor: pointer;
}

.location-btn:hover {
  background-color: rgb(48, 48, 52);
}

.aside {
  padding-left: 2rem;
  border-radius: 3rem;
  margin-left: 6rem;

  width: 35rem;
  background-color: rgb(30, 29, 37);
  height: 30rem;
}

.weather-now {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}

.weather-now > div:first-child {
  font-size: 2.4rem;
}

.temperature {
  display: flex;
  align-items: center;
  column-gap: 6rem;
  font-size: 6.4rem;
}
.temperature > span {
  width: 16rem;
}

.forecast-img {
  width: 7rem;
}

.img {
  width: 100px;
  height: 100px;
}

.brake {
  border: solid 1px rgb(97, 97, 97);
  opacity: 0.2;
  width: 33rem;
  margin: 1rem 0rem;
}

.current-date,
.location {
  font-size: 1.6rem;
  color: rgb(181, 181, 181);
}
/*FORECAST */
.weather-forecast {
  width: 33rem;
  padding: 2rem;
  top: 53rem;
}

.forecast {
  margin-left: 6rem;
  font-size: 1.8rem;
}

.forecast-list {
  margin-top: 1.2rem;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  color: rgb(178, 177, 177);
}
.forecast-list > li:first-child {
  font-size: 2.4rem;
  color: white;
}

.main {
  padding-bottom: 2rem;
  border-radius: 3rem;
  width: 70vw;
  height: 45rem;
  background-color: var(--primary-color);
}
.main > h3:first-child {
  position: relative;
  top: 3rem;
  left: 4rem;
  font-size: 2rem;
}

.grid-format {
  padding-top: 5rem;

  font-size: 1.8rem;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;

  /* align-items: center; */
}

.box-sunset-sunrise,
.air-quality-index {
  margin-right: 1rem;

  display: flex;
  flex-direction: column;

  width: 60rem;
  height: 80%;
  border-radius: 3rem;
  background-color: var(--secondary-color);
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2);
}

.box-sunset-sunrise > div:first-child,
.air-quality-index > div:first-child {
  opacity: 0.4;
  margin: 3rem 0 0 3rem;
}

.sunrise-sunset-flex,
.air-quality-flex {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-around;
}
.sunrise-sunset-flex > div,
.air-quality-flex > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sunrise-sunset-flex > div > span,
.air-quality-flex > div > span {
  margin-top: 0.5rem;
  font-size: 3rem;
}

.icon {
  width: 5rem;
}
.unit {
  font-size: 3rem;
}

.measurements-box {
  display: flex;
  column-gap: 5rem;
  margin-right: 1rem;
  justify-content: space-between;
}
.measurements-box > div {
  width: 23rem;
  background-color: var(--secondary-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3rem;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2);
}

.unity-box > div:first-child {
  opacity: 0.5;
}

.measurement-flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.measurement-flex > span {
  font-size: 4rem;
}

/*Sunset and sunrise*/

.today-forecast {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3rem;

  width: 70vw;
  height: 25rem;
  margin-right: 6rem;

  overflow: hidden;
}
.slides {
  position: relative;
  width: 60vw;
  overflow: hidden;
  height: 100%;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 10%,
    white 90%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.list-today-forecast {
  background-color: var(--primary-color);
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 99%;
  width: 9.5vw;
  list-style-type: none;
  text-align: center;
  justify-content: space-around;
  /* transition-duration: 250ms; */
}

.btn {
  width: 8rem;
  height: 100%;
  background-color: var(--primary-color);
  transition: background-color 1s ease;
  transition: scale 0.1s ease-in;
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2);
}
.btn:hover {
  background-color: rgb(29, 19, 67);
}
.btn:active {
  scale: 0.95;
}

.btn-left {
  border-radius: 3rem 0rem 0rem 3rem;
}
.btn-right {
  border-radius: 0rem 3rem 3rem 0rem;
}

@keyframes slideLeft {
  from {
    transform: translateX(-400px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-600px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(400px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateX(0px);
  }
}

.today-forecast {
  animation-name: slideUp;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}
.main {
  animation-name: slideDown;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.aside-container {
  animation-name: slideLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}
