@media screen and (max-width: 112em) {
  html {
    font-size: 53%;
  }

  .grid-format {
    grid-template-columns: 50% 50%;
  }
  .box-sunset-sunrise,
  .air-quality-index {
    width: 80%;
  }
  .measurements-box {
    width: 80%;
  }
}

@media screen and (max-width: 100em) {
  html {
    font-size: 55%;
  }
  .all-content-container {
    column-gap: 6rem;
  }

  .unit {
    font-size: 2rem;
  }
  .main-container {
    width: 68vw;
  }
  .main {
    width: 100%;
    height: 42rem;
    padding-bottom: 1rem;
  }

  .sunrise-sunset-flex,
  .air-quality-flex {
    border-top: 0.5rem;
  }
  .aside-container {
    row-gap: 2rem;
  }
  .aside {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .today-forecast {
    width: 100%;
    height: 20rem;
  }
  .slides {
    width: 58vw;
  }
  .measurement-flex > span {
    font-size: 3rem;
  }
}

@media screen and (max-width: 88em) {
  .all-content-container {
    column-gap: 4rem;
  }
  .aside {
    max-width: 33rem;
  }

  .weather-forecast {
    width: 31rem;
  }

  .slides {
    width: 57vw;
  }
  .measurements-box {
    column-gap: 2rem;
  }

  .list-today-forecast {
    width: 9vw;
  }

  .sunrise-sunset-flex > div > span,
  .air-quality-flex > div > span {
    margin-top: 0.5rem;
    font-size: 2.5rem;
  }
  .measurement-flex > span {
    font-size: 2.5rem;
  }
}

/* @media screen and (max-width: 76em) {
  html {
    font-size: 62.5%;
  }
} */

@media screen and (max-width: 70em) {
  html {
    font-size: 50%;
  }

  .header {
    height: 15rem;
    font-size: 5rem;
  }
  .input-city {
    font-size: 3rem;
  }
  .location-btn {
    font-size: 3rem;
  }

  .aside {
    font-size: 5rem;
    width: 45rem;
  }

  .all-content-container {
    margin-top: 22rem;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 6em;
  }
  .main-container {
    width: 90vw;
  }

  .aside-container {
    height: 50rem;
    width: 90vw;
    flex-direction: row;
    justify-content: space-between;
  }

  .aside {
    margin: 0;
    max-width: 50rem;
  }
  .weather-now {
    height: 100%;
    width: 150rem;
  }
  .weather-forecast {
    width: 50rem;
    height: 100%;
  }
  .forecast {
    display: none;
    width: 0px;
  }
}
